html,
body,
#root {
  height: 100%;
  margin: 0;
}

.mh-100vh {
  max-height: calc(100vh - 56px);
}

.overflow-auto {
  overflow: auto;
}

.fixed-label-container {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  padding: 1rem;
}

.list-item {
  cursor: pointer;
}

.weather-image {
  width: 70%;
}
