html,
body,
#root {
  height: 100%;
  margin: 0;
  background-color: #689c64;
}

.mh-100vh {
  max-height: calc(100vh - 56px);
}

.overflow-auto {
  overflow: auto;
}

.fixed-label-container {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  padding: 1rem;
}

.list-item {
  cursor: pointer;
}

.weather-image {
  width: 60%;
}

.weather-details {
  background-image: url(images/bg.jpg);
  background-repeat: no-repeat, repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(102, 98, 86, 0.3);
}

.text-custom {
  color: white;
}

.card {
  border: none;
}
